%header
  %nav
    .ui.secondary.pointing.menu
      = link_to admin_panel_root_path, class: "js-admin-panel-nav-link item #{active_nav_class('dashboard', controller_name)}" do
        = semantic_icon('home')
        Dashboard
      = link_to admin_panel_users_path, class: "js-admin-panel-nav-link item #{active_nav_class('users', controller_name)}" do
        = semantic_icon('users')
        Users
      = link_to admin_panel_ads_path, class: "js-admin-panel-nav-link item #{active_nav_class('ads', controller_name)}" do
        = semantic_icon('newspaper')
        Ads
      .right.menu
        = link_to destroy_user_session_path, method: :delete, class: 'js-admin-panel-nav-link item' do
          = semantic_icon('sign out')
          Logout

  = yield :panel_description
