= form_for [:admin_panel, @ad], html: { multipart: true }, remote: true, data: { model_name: @ad.class.name.downcase, type: :json } do |f|
  - if @ad.errors.any?
    = flash_message('error', 'An error occurred while attempting to save the recorded steps:', @user.errors.full_messages)
  .ui.grid.center.aligned
    .eleven.wide.column
      .ui.buttons
        = link_to(admin_panel_ads_path, class: 'ui olive labeled icon button js-loading-btn') do
          %i.reply.icon
          Back
        - if @ad.persisted?
          = link_to admin_panel_ad_path(@ad), class: 'ui olive icon button js-loading-btn' do
            Show
          = link_to admin_panel_ad_path(@ad), class: 'ui olive right labeled icon button js-loading-btn', method: :delete, data: { confirm: 'The record will be removed' } do
            Delete
            %i.remove.icon
      .ui.form.large.segment
        %h4.ui.dividing.header Ad information
        .field
          = f.label :content, 'Content'
          .ui.icon.input
            = f.text_area :content, placeholder: 'Content', type: 'text'
        = f.submit 'Submit', class: 'ui olive submit button js-form-send-btn'
