- content_for :panel_description do
  = render partial: 'admin_panel/partials/panels_descriptions/comments/index'

- if notice
  .ui.success.message.segment.center.aligned
    %i.close.icon
    .header= notice

.ui.secondary.menu.container
  .right.menu
    .item
      .ui.icon.input
        %input{ placeholder: 'Search', type: 'text'}/
        %i.search.link.blue.icon

%br/
%table.ui.basic.table.blue
  %thead
    %tr
      %th #
      %th User
      %th Ad
      %th Content
      %th Actions
  %tbody
    - @comments.each do |comment|
      %tr.js-record{ data: { id: comment.id } }
        %td= comment.id
        %td= link_to comment.user.full_name, admin_panel_user_path(comment.user)
        %td= link_to "##{comment.ad.id}", admin_panel_comment_path(comment.ad)
        %td= comment.content.truncate(50)
        %td
          .ui.basic.buttons
            = link_to 'Show', admin_panel_comment_path(comment), class: 'ui basic button js-loading-btn'
            - if can? :manage, Ad
              = link_to 'Edit', edit_admin_panel_comment_path(comment, link_to_back_path: request.fullpath), class: 'ui basic button js-loading-btn'
              .ui.basic.button.js-delete-record-btn{ data: { record_id: comment.id, fullpath: request.path } } Delete
  %tfoot
    %tr
      %th{ colspan: '5' }
        = paginate @comments, theme: 'admin_panel'

