%h1 Home page

%p= alert

%p= link_to 'admin_panel', admin_panel_root_path

- if  current_user.present?
  %h2 Current user
  = image_tag current_user.avatar.url
  %p= link_to 'logout', destroy_user_session_path, method: :delete
  %p= link_to 'edit', edit_user_registration_path
- else
  %p
    = link_to 'signup', new_user_registration_path
    = link_to 'login', new_user_session_path
